<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
        <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('includes/header') %>
        <div>
            <h1>Something went wrong!</h1>
            <p>Ooops! something is not right - We will fix it as soon as possible.</p>
        </div>

</body>

</html>