<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
  <%- include('includes/header') %>  
  <p>Welcome to bookshare,you can share a book or find a book to read.</p>
<div>
  <li><img src="images/books1.jpeg" alt="image of books"></li>
  <li><img src="images/books1.jpeg" alt="image of books"></li>
</div>
</body>
</html>