<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/success.css">
</head>
<body>
  <%- include('includes/header') %>   
  <div>
    <h1>Successful.</h1>
    <p>Your book has been shared and others can view it. Thank you for sharing.</p>
    <a href="/">Go back</a>
  </div>
</body>
</html>