<header id="main-header">
    <nav>
        <h1 id="logo"><a href="/">BookShare</a></h1>
        <ul>
            <li><a href="/sharebook">Share a book</a></li>
            <li><a href="/findbook">Find a book</a></li>
            <li><a href="/about">About bookshare</a></li>
        </ul>

        <aside id="side-drawer">
            <span></span>
            <span></span>
            <span></span>
        </aside>

        <div id="menu-btn">
            <li><a href="/sharebook">Share a book</a></li>
            <li><a href="/findbook">Find a book</a></li>
            <li><a href="/about">About bookshare</a></li>
        </div>
    </nav>
</header>