#booksfound{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
#findbook {
  width: 80%;
  max-width: 50rem;
  list-style: none;
  margin: auto;
}
#findbook li {
  width: 100%;
  background-color: rgba(58, 58, 58, 0.7);
  padding: 1rem;
  margin-bottom: 0.5rem;
}
#findbook h1 {
  color: white;
  font-size: 2rem;
}
#findbook h2 {
  color: white;
  font-size: 1.5rem;
}

#findbook p {
  color: white;
  font-size: 1rem;
}

#link{
  background-color: white;
  color: black;
  padding: 0.5rem;
  text-decoration: none;
}

@media(max-width:48rem){
  #booksfound{
    font-size: 1rem;
  }
  #findbook{
    margin: auto 0;
  }
}